extends ./layout/layout

block variables
  - var pageTitle = 'Index'

block content
  section
    .container
      h1 Index

      #app

      div
        img.img-fluid(src='../assets/img/q1_main.jpg', alt='image')